<div class="min-h-screen bg-gradient-to-br  from-slate-950 via-slate-900 to-slate-950 flex items-center justify-center px-4 py-12">
    <div>
        <a href=""></a>
        <h2>خوش آمدید</h2>
        <p>وارد حساب کاربری خود شوید</p>
            <form action="POST">
                <div class="relative">
                    <i class="fa-regular fa-envelope absolute"></i>
                    <label for="Email"></label>
                    <input type="email" name="Email" id="Email">
                </div>
                <div class="relative">
                    <i class="fa-solid fa-lock absolute"></i>
                    <label for="Password">رمز </label>
                    <input type="password" name="Password" id="Password">
                </div>
                <div>
                    <label for="RememberDevice">من رو بخاطر بسپار</label>
                    <input type="checkbox" name="RememberDevice" id="RememberDevice">
                    <a href="">فراموشی رمز</a>
                </div>
                <button type="submit">ادامه دهید</button>
                <span>اکانتی در حال حاضر ندارید؟</span>
                <a>ثبت نام کنید</a>
            </form>
        
    </div>
</div>