form {
  background-color: #1d293d;
  width: 600px;
  padding: 28px;
  border-radius: 20px;
}
i {
  position: absolute;
  left: 16px;
  top: 50%;
  width: 20px;
  height: 20px;
  color: black;
}
label {
  color: #99a1af;
}
button {
  width: 100%;
  padding: 16px 0;
  background: linear-gradient(to bottom right, #2b7fff, #00d3f3);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  transition: all 0.5s ease;
}
button svg{
  transition: all 0.5s ease;
}
button:hover svg{
  transform: translateX(10px);
}
button:disabled {
  box-shadow: none;
  opacity: 50%;
}
.Container{
  min-height: 100vh;
  background: linear-gradient(to bottom right,#020618,#0f172b,#020618);
  padding: 3rem 16px;
  margin-top: 64px;
}