#SearchPanel{
    color: white;
    background-color: #0f172b;
    border-bottom: 3px solid #1d293d;
    padding: 16px 16px;
    right: 256px;
    top: 0;
    left: 0;
    z-index: 30;
    display: flex;
}
aside{
    width: 256px;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #0f172b;
    border-right: 3px solid #1d293d;
    z-index: 30;
    display: flex;
    flex-direction: column;
}
aside a{
    display: flex;
    align-items: center;
    padding: 16px 12px;
    width: 100%;
    color: #d1d5dc;
    border-radius: 14px;
}
aside a svg{
    width: 24px;
    height: 24px;
}
aside a:hover{
    background-color: #1d293d;
}
aside a[data-active='active']{
    background-color: #1c398e 30%;
}
svg{
    fill: white;
}
#AdminContent{
    height: 100vh;
    margin-right: 256px;
}